<head>
    <!-- Nedded Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{site.author}}" />
    <!-- Prefetch DNS -->
    <!-- <link rel="dns-prefetch" href=""> -->
    {% seo %}
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | relative_url }}" />
    <!-- Apple touch icons -->
    <!-- <link rel="apple-touch-icon-precomposed" href="">
    <link rel="apple-touch-icon" sizes="152x152" href=""> -->
    
    <!-- my css files -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
