---
layout: default
---

{% include views/post-header.html %}
{{ content }}


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/highlight.min.js"></script>
<script>
    // Init highlight js
    document.addEventListener('DOMContentLoaded', function(event) {
    var els = document.querySelectorAll('pre code')
    function handle(block) {
        var outer = block.parentElement.parentElement.parentElement;
        var lang = block.getAttribute('data-lang');
        for (var i = 0; i < outer.classList.length; i++) {
        var cls = outer.classList[i];
        if (cls.startsWith('language-')) {
            lang = cls;
            break;
        }
        }
        if (!lang) {
        cls = block.getAttribute('class');
        lang = cls ? cls.replace('hljs ', '') : '';
        }
        if (lang.startsWith('language-')) {
        lang = lang.substr(9);
        }
        block.setAttribute('class', 'hljs ' + lang);
        block.parentNode.setAttribute('data-lang', lang);
        hljs.highlightBlock(block);
    }
    for (var i = 0; i < els.length; i++) {
        var el = els[i];
        handle(el);
    }
    });
</script>
